@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Courgette&family=Permanent+Marker&family=Poppins:ital,wght@0,400;1,400;1,600&display=swap');

/* booking */
*{
    top: 0;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
#msection{
    background: url("https://www.teahub.io/photos/full/123-1230776_dark-brown-textured-backgrounds.jpg")no-repeat;
    background-position: center;
    background-size: cover;
    height:100%;
}
.heading{
    text-align: center;
    color:rgb(255,205,112);
    padding-top: 30px;
    padding-bottom: 10px;
    
}
.logo{
    text-align: end;
    margin-right: 20px;
    padding-top: 20px;
}
img {
    height: 50px;
    vertical-align: middle;
    border-style: none;
    width: 60px;
}
.w-50 {
    width: 40%!important;
    margin-top: 29px;
    background-color: rgba(0,0,0,0.1);
    border-bottom: 1px solid white;
}
.card-title {
    margin-bottom: 0.75rem;
    color: rgb(236, 138, 32);
    text-align: center;
}
.card-text{
    font-family: 'Comic Neue', cursive;
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
   line-height: 0.1rem;
   text-align: center;
}
.price{
    text-align: center;
    line-height: 0.1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: rgb(236, 138, 32);
}

.col-lg-3 {
    text-align: end;
}
.btn {
    display:inline-block;
    font-weight: 400;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    background-color: rgb(164, 38, 164);
    margin-top: 10px;
}
.col-lg-6{
    text-align: center;
}
.modal-content{
    background-color: rgba(0,0,0,1);
    color: rgb(236, 138, 32);
}
.modal-title{
    margin-left: auto;
}
.col-md-6{
    text-align: center;
}
.mprice{
    text-align: center;
    margin-bottom: 0px;
}
.card-body {
    /* -webkit-box-flex: 1; */
    
    /* flex: 1 1 auto; */
    padding: 10px;
    height: 80px;
}


.card-body .row{
    background-color: rgba(0,0,0,0.1)!important;
}

#count{
    width:20px;
    color:rgb(236, 138, 32);
    font-size: 30px;
    font-weight:500px;
    margin-top:10px;
    letter-spacing: 2px;
    cursor: pointer;
}
 #count span.minus{
    letter-spacing: 2px;
    font-size: 30px;
    font-weight:500px;
    cursor: pointer;
}
#count span.plus{
    cursor: pointer;
}

/* formstarts */
#fsection{
    background: url("https://static.vecteezy.com/system/resources/thumbnails/001/270/613/small/black-canvas-fabric-texture.jpg")no-repeat;
    background-position: center;
    background-size: cover;
    height:100%;
}

.custom-select{
    background: rgba(0,0,0,0.1) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center
}
.form-control{
    background-color: rgba(0,0,0,0.1);
    color: #444a50;
}
.mt-1, .my-1 {
    margin-top: 0.1rem!important;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: white;
}

.btton{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    background-color: rgb(164, 38, 164);
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
    background: #000;
    padding-top: 2%;
    position: relative;
    text-align: center;
    color: #fff;
   
}




